@import '../../../styles/variables.scss';

.flytable {
    display: flex;
    flex-direction: column;
    margin: 0 50px 40px;
    width: 1120px;
    border-collapse: collapse;

    &__line {
        &__header {
            display: flex;
            text-align: left;
            align-items: center;
            line-height: 40px;
            color: $color-text-grey;
            background-color: $color-white;

            .header__item {
                padding: 12px;
                font-size: 18px;
                font-weight: 600;
            }

            .header__item.terminal {
                text-align: center;
            }
        }

        &__flight {
            position: relative; /* установка позиции элемента как относительной */
            z-index: 1; /* установка z-index для элемента */
            display: flex;
            text-align: left;
            align-items: center;
            transition: 0.4s;

            .flytable__item {
                padding: 16px 10px;
                height: 72px;
                line-height: 40px;
                font-size: 18px;
                font-weight: 400;
            }

            .flytable__item.terminal {
                text-align: center;
            }

            .flight-details {
                display: none;
                text-decoration-line: none;
            }

            &:hover {
                z-index: 2;
                box-shadow: 0px 13px 13px -4px rgba(0, 0, 0, 0.22);

                .flight-details {
                    display: inline;
                    color: $color-blue;
                    border-bottom: 1px solid;
                    transition: linear 0.3s;

                    &:hover {
                        border: none;
                    }
                }
            }
        }
    }

    .terminal {
        width: 110px;
    }
    .loctime {
        width: 122px;
    }
    .destination {
        width: 194px;
    }
    .status {
        width: 156px;
    }
    .airline {
        width: 240px;
    }
    .flightnum {
        width: 104px;
    }
    .details {
        width: 194px;
    }
}

.flight-terminal {
    color: #63c745;
    font-weight: 700;
    border: 1px solid #63c745;
    border-radius: 50%;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    font-size: 22px;
}

.flytable__line__flight:nth-child(even) {
    background-color: $color-white;
}
